@import "fonts";

h1 {
    color: red;
    padding: 2rem 0;
    font-family: quicksandregular;
    text-align: center;
    width: 100%;
    font-size: 25vh;
}
p {
    color: turquoise;
    font-family: quicksandregular;
    text-align: center;
    width: 100%;
    font-size: 20vh;
}

body {
    background-color: gray;
    color: green;
}
.circle {
    width: 20%;
    height: 20%;
    background-color: aqua;
    border-radius: 50%;
}