@import "fonts";
@import "reset";
@import "variables";

html {
    font-family: 'Josefin Sans';
}
body {
    background-color: gray;
    color: green;
}
h1 {
    color: $maincolor;
    padding: 2rem 0;
    font-family: $mainFont;
    text-align: center;
    width: 100%;
    font-size: 15vh;
}
p {
    color: $secondcolor;
    font-family: $secondFont;
    text-align: center;
    width: 100%;
    font-size: 10vh;
}
.circle {
    width: 20vh;
    height: 20vh;
    background-color: red;
    border-radius: 50%;
}
